<h1 class="<%= set_result_color(@test_passing) %>">
  <%= t('.header', title: @test_passing.test.title) %>
   <%= show_result_message(@test_passing)%></h1>

<h2> <%= link_to t('.back'), tests_path %></h2>
