<div class="row justify-content-center mt-3">
  <div class="col col-md-6">
    <h2><%= t('.header') %></h2> 
    <%= render @user_badges %>
    <h2><%= t('.available') %></h2> 
    <%= render @available_badges %>
  </div>
</div>
