<p>
  <%= Time.new.year %> Sergey Maslov
</p>

<p>
  <%= link_to "TestGuru", "https://github.com/jezman/test_guru" %> is a testing platform where users can create, manage and pass tests.
</p>

<p>
  <%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com" %>
</p>

