<nav class="navbar fixed-bottom navbar-light bg-light">
  <span class="text-muted">
      <%= current_year %>
      Сергей Маслов<br>
      <%= github_url("jezman", "test_guru") %>
      это площадка для прохождения тестов, где пользователи могут создавать, редактировать и проходить тесты.<br>
      <%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com", target: :blank %>
  </span>
</nav>
