<p>
  <%= current_year %> Сергей Маслов
</p>

<p>
  <%= github_url("jezman", "test_guru") %> это площадка для прохождения тестов, где пользователи могут создавать, редактировать и проходить тесты.
</p>

<p>
  <%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com", target: :blank %>
</p>
