<p>
  <%= current_year %> Sergey Maslov
</p>

<p>
  <%= github_url("jezman", "test_guru") %> is a testing platform where users can create, manage and pass tests.
</p>

<p>
  <%= link_to "Training project in the online-school Thinknetica", "https://thinknetica.com", target: :blank %>
</p>
