<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <div class="card border-primary">
      <div class="card-body">
        <h1><%= t('.header', test_title: @question.test.title) %></h1>
        <%= render 'form' %>
      </div>
      <%= link_to t('.back'), admin_test_path(@question.test), class: "btn btn-primary" %>
    </div>
  </div>
</div>
