// Place all the styles related to the test_passings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.success {
  color: green;
}

.fail {
  color: red;
}
